.passwordcreation {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: row;
  padding: 0px 30px;
}
.passwordcreation-ui-img,
.passwordcreation-form {
  width: 50%;
  height: 100%;
  padding: 0px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.passwordcreation-form {
  align-items: flex-start;
  flex-direction: column;
}

.passwordcreation-ui-img > img {
  width: 100%;
}
.passwordcreation-form-title {
  font-size: 33px;
  line-height: 50px;
  color: #183247;
}

.passwordcreation-form-subtitle {
  font-size: 13px;
  line-height: 32px;

  color: rgba(24, 50, 71, 0.7);
}
.passwordcreation-form-elements-section,
.passwordcreation-form-element,
.passwordcreation-form-element > div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.passwordcreation-form-elements-section,
.passwordcreation-message {
  margin-top: 40px;
}
.passwordcreation-form-element {
  margin-bottom: 30px;
}
.passwordcreation-form-element > input,
.passwordcreation-form-element > div > input {
  width: 450px;
  height: 50px;
  border: 0.5px solid #a1a6a9;
  border-radius: 2px;
  margin-right: 30px;
  font-size: 12px;
  line-height: 18px;
  padding: 10px 20px;
}

.passwordcreation-form-element > div > input {
  width: 210px;
}

.passwordcreation-form-element > input::placeholder,
.passwordcreation-form-element > div > input::placeholder {
  font-size: 13px;
  line-height: 18px;
  color: rgba(161, 166, 169, 0.62115);
}

.passwordcreation-form-element > label,
.passwordcreation-form-element > div > label {
  font-size: 13px;
  line-height: 18px;
  color: #a1a6a9;
  margin-bottom: 5px;
}
.passwordcreation-form-elements-section > .col-2 {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.passwordcreation-form-elements-section > .col-2 > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.passwordcreation-email-submit {
  background: #3bc163;
  color: white;
  min-width: 150px;
  max-width: auto;
  height: 40px;
  border-radius: 2px;
  padding: 10px 25px;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.passwordcreation-message {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 18px;
}
.alert-border {
  border: 0.5px solid #ff0000;
}
.alert-info {
  color: red;
}
.success-info {
  color: green;
}

/* css loader */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 70px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 24px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 48px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
